<!doctype html>

<html>
<head>
<!-- <script src="../js/add.js"></script> -->
</head>

<body>
	<div>
		<h2>So what's on your mind now?</h2>

		<form method="get" action="/addEvent">
			<h4>Event name:</h4>
			<input name="name" placeholder="{{name}}"></input>

			<h4>Comments:</h4>
			<input name="comment" placeholder="{{comment}}"></input>			

			<h4>Date:</h4>
			<input type="date" name="date" placeholder="{{date}}"></input>
			<h4>Time:</h4>
			<input type="time" name="timeFrom" placeholder="{{timeFrom}}"></input>
			<input type="time" name="timeTo" placeholder="{{timeTo}}"></input>


			<h4>Location:</h4>
			<input name="place" placeholder="{{place}}"></input>
			
			<h4>Importance:</h4>
			<select name="importance">
				<option value="32">One Star</option>
				<option value="48">Two Star</option>
				<option value="65">Three Star</option>
			</select>
		</br>
			<form action="add.handlebars" method="post" enctype="multipart/form-data">
				<!--<label for="file"> Choose a photo:</label>
					<input type="file" name="file1"/>
					<input type="submit" value="Use photo!"/>-->
		<!--	<h4>Choose photo</h4>
			<form name="uploaded">
				<input type="file" size="25" accept="image/*">
				<input type="Submit"></form>-->
				
			<div>
				<input type="submit" id="submit" class="btn btn-default"value="Add Event"></input>
			
				<button id="editEvent">Edit Event</button>
			</div>
		</form>

		<div><Button>
			<h2>Invite Friends</h2>
		</Button></div>

		<div>
		<Button>
			<h3>Archive</h3>
		</Button>

		<Button>
			<h3>Delete</h3>
		</Button>
		</div>

		<a href="index"><h3>Back</h3></a>
	</div>

	<script></script>
</body>
</html>
