<!doctype html>

<html>
<head>
<!-- <script src="../js/add.js"></script> -->
</head>

<body>
	<div>
		<h2>So what's on your mind now?</h2>

		<form method="get" action="/addEvent">
			<h4>Event name:</h4>
			<input name="name" placeholder="{{name}}"></input>

			<h4>Comments:</h4>
			<input name="comment" placeholder="{{comment}}"></input>			

			<h4>Time:</h4>
			<input name="timeFrom" placeholder="{{timeFrom}}"></input>
			<input name="timeTo" placeholder="{{timeTo}}"></input>

			<h4>Location:</h4>
			<input name="place" placeholder="{{place}}"></input>
			
			<h4>Importance:</h4>
			<select name="importance">
				<option value="23">One Star</option>
				<option value="32">Two Star</option>
				<option value="48">Three Star</option>
			</select>
			<div>
				<input type="submit" id="submit" class="btn btn-default"value="Add Event"></input>
			
				<button id="editEvent">Edit Event</button>
			</div>
		</form>

		<div><Button>
			<h2>Invite Friends</h2>
		</Button></div>

		<div>
		<Button>
			<h3>Archive</h3>
		</Button>

		<Button>
			<h3>Delete</h3>
		</Button>
		</div>

		<a href="index"><h3>Back</h3></a>
	</div>

	<script></script>
</body>
</html>
