<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/colorGrid.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<div class="container-fluid" style="height: 100%; width: 100%">

<div class="container">

	<a href="login"><div style="display:inline; float:left; background-color: white">
                <img src="/images/user.png" alt="Icon" style = "width:30px;height:30px"><br>
                                <font size="2">Account</font>
        </div></a>
                <center><img src="/images/ManageMotif.png" alt="Icon" style = "width:135px;height:98px;"></center>
 
	<br>
		{{#each events}}
		<div class="flex-container">
		{{#each row}}
			<div id="grid" style="width:{{importance}}%">

				<a href="add?{{name}}">
			<h4 style="color:white">{{name}}</h4>
			<h5 style="color:white">{{date}}<br/></h5>
			<h5 style="color:white">{{timeFrom}} {{timeTo}}
				<br/></h5>
			<h6 style="color:white; display:inline; float:left">{{place}}<br/></h6>
				</a>

				<form action="/delete">
	<input name="name" value="{{name}}" hidden readonly></input>
	<input type="image" src="/images/delete_white.png" alt="submit" style="width:23; height:23px; float:right"></img>
				</form>
			</div>
		{{/each}}
		</div>
		{{/each}}
		<br>
	</div>	
		<!--Checik calendar>
		<a href= "calendar">
		<div class = "calendar">
		 <center><img src="/images/calendar-icon.png" alt="ViewCalendar" style = "width:40px;height:40px;">
		 <br>
		 Calendar</center>
		</div>
		<a-->

		<div><button id="create"><h4>Create Event</h4></button></div>
		<br>
		<div style="height:20%">
		<form method="get" action="/addEvent">
			<input id="qrBox" name="name" placeholder="Type to Add Quick Reminder"></input>
			<input id="qrButton" type="submit" value="OK"></input>
		</form></div>

		<div><h3>
		</h3></div>

		<div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		$("#create").click(function(){
			window.open("add", "_self", "null")
		});
	</script>

</body>
</html>
